@import url("https://fonts.googleapis.com/css2?family=Gabarito&family=Satisfy&display=swap");

:root {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
  resize: none;
}

#root {
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  gap: 16px;
  min-height: 75px;
  font-family: "Satisfy", cursive;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  background-color: rgb(154 223 181);
  color: #3a4a3d;
}

header h1 {
  font-size: 2.6rem;
  flex-grow: 1;
  text-align: left;
}

form {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

form section > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 28px;
  padding: 1.6rem;
  margin: 0;
}

form section.personal > ul {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 8px;
}

form section.personal li:nth-child(1) {
  grid-area: 1 / 1 / 2/ 3;
}

form section.personal input {
  width: 100%;
}

form section.personal li:last-child label {
  height: 100%;
}

form section.personal li:last-child textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

form section.personal li:last-child {
  grid-column: 1 / 3;
  height: 100%;
  margin: 0;
}

form section.education {
  position: relative;
}

form section.education div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 700px;
  padding: 16px;
}

form section.education fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto) 1fr;
  border: 0;
  gap: 16px;
}

form section.education fieldset input {
  width: 100%;
}
form section.education fieldset > :last-child {
  grid-area: 3 / 1 / 4 / 3;
}

form section.education fieldset > :last-child > textarea {
  width: 100%;
}

form section.experience div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

form section.skills div {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}

form section.skills fieldset {
  border: 0;
  width: 288px;
}
form input,
form textarea {
  padding: 12px;
  width: 100%;
}

form section.experience div > fieldset {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  max-width: 900px;
  border: 0;
  gap: 16px;
}

form fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
}

form legend {
  font-size: 16px;
  font-family: "Gabarito", cursive;
  padding: 0;
  text-align: left;
  letter-spacing: 1px;
}

form section.experience label:last-child {
  grid-area: 4 / 1 / 5 / 3;
}

@media screen and (min-width: 900px) {
  form section.experience div > fieldset {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
  }

  form section.experience label:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 3;
  }

  form section.experience label:nth-of-type(2) {
    grid-area: 1 / 3 / 2 / 5;
  }

  form section.experience label:last-child {
    grid-area: 3 / 1 / 4 / 5;
  }
}

form section.experience input {
  width: 100%;
}

form section.experience textarea {
  display: block;
  width: 100%;
}

@media (min-width: 750px) {
  form section.personal > ul {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, minmax(158px, 240px)) 1fr;
    gap: 8px 16px;
  }
  form section.personal li:last-child {
    grid-area: 1 / 3 / 4 / 4;
    height: 100%;
    margin: 0;
  }
}

form section a {
  display: flex;
  gap: 1.6rem;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
  padding: 0.6rem;
  width: 100%;
}
form section a > h1 {
  flex-grow: 1;
  text-align: left;
}

form section a > button {
  border: 0;
  padding: 0;
}

form section h1 {
  font-size: 2rem;
  font-family: "Gabarito", cursive;
}

form input[type="text"] {
  padding: 12px;
}

form label > span {
  font-size: 1.2rem;
}

form section li {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

form section label {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.preview section > h1 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.preview section.personal {
  text-align: left;
}

.preview section.personal > span {
  font-size: 1rem;
}

.preview section > h2 {
  text-align: left;
}

.preview hr.t-margin-2 {
  margin-top: 2px;
}

.preview .experience > ul,
.preview .education > ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  gap: 1.4rem;
}

.preview .experience > ul > li,
.preview .education > ul > li {
  display: flex;
  flex-direction: column;
}

.preview .experience h3,
.preview .experience p,
.preview .education h3,
.preview .education p {
  display: flex;
  justify-content: space-between;
}

.preview-list-box {
  list-style-type: square;
  padding-left: 1.6rem;
  text-align: left;
  line-height: 1.7rem;
}

.italic {
  font-style: italic;
}

@media print {
  body {
    min-height: unset;
  }
  div#root > *:not(.preview) {
    display: none;
  }
  .preview {
    margin: 0.75in;
    font-size: 1.2rem !important;
  }
  .preview section.personal h1 {
    font-size: 2.4rem !important;
  }
  .preview section.personal span {
    font-size: 1.6rem !important;
  }
  .preview h2 {
    font-size: 1.6rem !important;
  }
  @page {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
