:root {
  font-size: 62.5%;
}

#root {
  padding: 0;
}

form {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

form section a {
  display: flex;
  text-decoration: none;
  background-color: grey;
  border: 1px solid black;
  padding: 0.6rem;
  width: 100%;
}

form section h1 {
  font-size: 2rem;
}

form input[type="text"] {
  padding: 12px;
}

form label > span {
  font-size: 1.4rem;
  font-weight: bold;
}

form section ul {
  display: flex;
  flex-direction: column;
  gap: 28px;
  list-style-type: none;
  padding: 0;
}

form section li,
form section.personal ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

form section label {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.preview section > h1 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.preview section.personal {
  text-align: left;
}

.preview section.personal > span {
  font-size: 1rem;
}

.preview section > h2 {
  text-align: left;
}

.preview hr.t-margin-2 {
  margin-top: 2px;
}

.preview .experience > ul,
.preview .education > ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.preview .experience > ul > li,
.preview .education > ul > li {
  display: flex;
  flex-direction: column;
}

.preview .experience h3,
.preview .experience p,
.preview .education h3,
.preview .education p {
  display: flex;
  justify-content: space-between;
}

.preview .experience ul.achievements,
.preview .education ul.achievements,
.preview .skills ul {
  list-style-type: square;
  padding-left: 1.6rem;
  text-align: left;
}
